/* Globale Resets */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Nur zur Sicherheit – kein Standardrand auf main */
main {
  margin: 0;
  padding: 0;
}

/* Basis-Schriftart, kannst du anpassen */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background-color: #000; /* falls irgendwo nichts gerendert wird, sieht man keinen weißen Rand */
}
